<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Bloggy Template</title>
  <link rel="stylesheet" type="text/css" media="screen, projection"
  href="/inc/water-style.css" />
</head>
  <body>
    <div style="padding: 10px; background-color: rgba(0,0,0,0.8)">
      <h1>User '{{name}}' does not exist or hasn't published any blogs yet.</h1>
    </div>
  </body>
</html>
