<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

  <servlet>
    <servlet-name>robot</servlet-name>
    <servlet-class>robot.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>robot</servlet-name>
    <url-pattern>/_wave/robot/jsonrpc</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>profile</servlet-name>
    <servlet-class>robot.MyProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profile</servlet-name>
    <url-pattern>/_wave/robot/profile</url-pattern>
  </servlet-mapping>

</web-app>